<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Предупреждение,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source propagateActivity="true" name="System.ServiceModel" switchValue="Предупреждение,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="C:\Quasar\QService\ConsoleHost\App_messages.svclog"
        type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelMessageLoggingListener" traceOutputOptions="DateTime, Timestamp">
        <filter type="" />
      </add>
      <add initializeData="C:\Quasar\QService\ConsoleHost\App_tracelog.svclog"
        type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
  
  <connectionStrings>
    <add name="EFDbContext" connectionString="Data Source=QUASAR\SQLQUASAR;Initial Catalog=QuasarDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    
    <add name="IdentityDbContext" connectionString="Data Source=QUASAR\SQLQUASAR;Initial Catalog=QuasarIdentity;Integrated Security=False;User ID=sa;Password=Op2oyxq"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true"
        logMessagesAtServiceLevel="false" logMessagesAtTransportLevel="true" />
    </diagnostics>
    <bindings>
      <netTcpBinding>
        <binding name="customTcpBinding" transactionFlow="false" listenBacklog="2147483647"
          maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="2147483647"
          maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <reliableSession enabled="false" />
          <security mode="Message">
            <message clientCredentialType="UserName" />
            <!--<transport clientCredentialType="Windows" />-->
          </security>
        </binding>
      </netTcpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceThrottling maxConcurrentCalls="16" maxConcurrentSessions="500"
            maxConcurrentInstances="500" />
        </behavior>
        <behavior name="mainBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceThrottling maxConcurrentCalls="16" maxConcurrentSessions="500"
            maxConcurrentInstances="500" />
          <serviceCredentials>
            <!--<clientCertificate>
              <authentication certificateValidationMode="ChainTrust" trustedStoreLocation="CurrentUser" />
            </clientCertificate>-->
            <userNameAuthentication userNamePasswordValidationMode="Custom"
              customUserNamePasswordValidatorType="QService.Admin.UserAuthentication, QService" />
            <serviceCertificate findValue="not"
              storeLocation="CurrentUser" storeName="My" x509FindType="FindBySubjectName" /> 
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <services>
      <service behaviorConfiguration="mainBehavior" name="QService.DataFeed">
        <endpoint address="DataFeed" binding="netTcpBinding" bindingConfiguration="customTcpBinding"
          contract="QService.IDataFeed" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080" />
            <add baseAddress="net.tcp://localhost:7001" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>

  <system.web>
    <compilation debug="true" />
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

</configuration>